

.benefit {
  padding-top: 60px;

}
@media screen and(min-width: 768px){
  .benefit{
    width: 768px;
    padding-bottom: 60px;
    padding-top: 60px;
    
  }
}
@media screen and(min-width: 1200px) {
  .benefit {
    width: 100vw;
    padding-top: 94px;
  }
}

.benefit-field{
  
 
 
  padding-left: 0px; 
  margin: 0px;
 
}
@media screen and(min-width: 768px){
  .benefit-field{
    display: flex;
    flex-wrap: wrap;
    // outline: 1px solid #008000;
    margin-left: -30px;
    margin-top: -30px;
   
  }
}


@media screen and( max-width: 767px){
  .benefit-field__item:not(:last-child){
    margin-bottom: 30px;
  }
}

@media screen and( min-width: 768px) {
  .benefit-field__item{
      
    // outline: 1px solid red;
     
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
    
  }
}
@media screen and( min-width: 1200px) {
  .benefit-field__item {
    flex-basis: calc(100% / 4 - 30px)
  }
}

.benefit-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $team-back;
  border-radius: 4px;
  height: 120px;
  width: 100%; 

}

.frame__text {
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
} 

.frame__title {
  margin-top: 30px;

  text-align: center;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $h-collor;
}

@media screen and(min-width: 768px){
  .frame__title {
    line-height: 1.1428
  }
}
  