.footer-wrap{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
  
.footer__nav {
  display: flex;
  flex-direction: column; 
}
  
.footer {

  background-color: $footer-back ;
}
  
.logo--padding {
  padding-top: 60px;
  
}
  
  
.logo__text--blue {
  color: $link-collor;
}
  
.logo__text--white {
  color: $white-text-collor;
}
    
/* физический адресс */
  
.adress-field__link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0px;

  /* display: block; */
  
  color: $white-text-collor;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  
    /* outline: 1px solid #008000; */
}
  
.adress-field__map{
    
  margin-top: 20px;
  margin-bottom: 0px;
}
  
.address-field__nav-field--flex{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 9px;
}
  

  
.nav-field__link--littlepadding {
    
  /* display: block; */
  
  padding-top: 9px;
  padding-bottom: 9px;
  @include transition(color);
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
    
  color: $primary-text-color;
 
  &:hover,
  &:focus {
    color: $link-collor;
  }
}
/* футер бокс:присоединяйся и соц сети */
  
.sociall{
  display: flex;
  flex-direction: column;
   
}
  
.sociall__group {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
  
/* .footer-sociall {
    margin-left: 70px;
  } */
  
.sociall__title {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-collor;
}
  
.sociall__item {
  width: 44px;
  height: 44px;

  
  &:not(:first-child) {
    margin-left: 10px;
  }
} 

.sociall__link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include transition(background-color);
  background-color: rgba(255, 255, 255, 0.1);
 
  &:hover,
  &:focus {
    background-color: $link-collor;
  }
}

.sociall__icon {
  fill: $white-text-collor;
}
  
.sign-group{
  display: flex;
  flex-direction: column;
  
  /* margin-left: auto ;
margin-right: 0; */
}
  
.sign-group__title{

  /* display: flex; */
  /* position: absolute;
      top: 0px;
      right: 0; */
  margin-top: 72px; 
  margin-bottom: 20px;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: $white-text-collor;
}
  
.sign-group__field{
  display: block;
    
  width: 358px;
  height: 50px;
    
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  
  color: rgba(255, 255, 255, 0.6);
  background-color: $footer-back;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
  
.sign-group__item{
  display: flex;
}
  
.sign-group__button{
  position: relative;
}
  
.sign-group__btn{ 
   
  width: 200px;
  height: 50px;
  background-color: $link-collor;
  cursor: pointer;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
  
.sign-group__text { 
  padding-left: 29px ;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
    
    
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-text-collor;
}
  
.sign-group__icon{
  position: absolute;
  top: 13px;
  right: 28px;
  fill: $white-text-collor;
}