.hero-container {
 
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: $footer-back;
    
  /* outline: 2px solid green; */
  min-height: 400px;
}
 
@media screen and(min-width: 1200px) {
  .hero {
    
    min-height: 600px;
  }
}

.hero {
  text-align: center;
}
  


.hero__overlay {
  height: 400px; 
  
  margin-right: auto;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),  url(../images/himg.jpg);
  background-position: center;
  // background-size: 480px 400px;
  background-size: cover;
}

@media screen and(min-width: 1200px) {
  .hero__overlay {
    height: 600px;
    max-width: 1600px;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__overlay{
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/himg@2x.jpg);
    // background-size: 480px 400px;
    background-size: cover ;
  }

}

.hero__title{
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 118px;
  
  /* outline: 1px solid green; */
  
  color: $white-text-collor;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and( min-width: 1200px) {
  .hero__title{
    padding-top: 200px;
    margin-bottom: 30px;
    margin-top: 0px;

    color: $white-text-collor;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
/* кнопка заказа услуг */
  
.hero__button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
   
  
  
  background-color: $link-collor;
  color: $white-text-collor;
}
@media screen and(min-width: 1200px) {
  .hero__button {
    padding: 16px 32px;
  }
} 