.page-header {
  position: fixed;
  min-height: 80px;
  width: 100%;
  top: 0;
  left: 0;
 
  background-color: $white-text-collor;
  
  z-index: 1;
}

.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
  
/*  Логотип */
  
.logo {
  display: flex;
  
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  
  &__text--blue {
    color: $link-collor;
  }
  
  &__text--black {
    color: black;
  }
}

/* Навигация по сайту */
  
.site-nav {
  display: flex;
  align-items: center;
  
  /* margin-left: 93px; */
  
  margin-top: 0px;
  margin-bottom: 0px;
}
  
.site-nav__item {
  margin-left: 50px;
}

// .site-nav .item:last-child {
//   margin-right: 0px;
// }
  
/* .site-nav .item {
    outline: 1px solid greenyellow;
  } */
  
.site-nav__link {
  display: block;
  
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: $h-collor;

  &:hover,
  &:focus {
    color: $link-collor ;
  }


  /* .site-nav .link-current{
    position: relative;
  } */
  
}

.site-nav__link {
  @include transition(color);
}


.site-nav__link--current {
  position: relative;
  
  display: block;
  
  padding-top: 32px;
  padding-bottom: 32px;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $link-collor;

  &::after {
    content: '';
    
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    
    background-color: $link-collor;
  }
}
  
.site-nav__link {
  display: block;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
  

  
/* навигация мейл и телефон */
  
.nav-field {
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  
  @include  transition(color)
}
  
.nav-field__link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color ;
} 

.nav-field__item:not(:first-child) {
  margin-left: 50px;
}

.nav-field__link{
  &:hover,
  &:focus {
    color: $link-collor;
  }
  
  
}


.nav-field__icon {
  
  /* display: block; */
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $primary-text-color;
  
  /* fill: carrentColor; */
}

.nav-field__icon {
  fill: currentColor;
}

/* .nav-link {
    display: flex;
    align-content: center;
  } */
  
/* .nav-field__item:hover
  .nav-field__item:focus {
    color: $link-collor;
  } */
  

  
/* .item {
    outline: 1px solid #008000
  } */
  
/* .nav-links .item {
    outline: 1px solid green;
} */
  
