.page-header {
  position: fixed;

  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  background-color: $white-text-collor;
    
  z-index: 1;
  @media screen and(min-width: 480px) {
    width: 480px;
  }
}  

.page-header__nav {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 
}
    
/*  Логотип */
    
.logo {
  
  display: flex;
  
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  
    
  &__text--blue {
    color: $link-collor;
  }
    
  &__text--black {
    color: black;
  }
}
  
/* Навигация по сайту */
    
.site-nav {
  display: none;  
}


  
    
  /* навигация мейл и телефон */
    
.nav-field {
  display: none;
}
 