body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  padding-top: 80px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
    
  /* outline: 1px solid green */
}
  
textarea {
  outline: none;
}
  
input {
  outline: none;
}
  
  
link {
  outline: none;
}
  
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  
  /* color: white */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus{
  outline: none
}

.button:focus{ 
  outline: none;
  border: none;
}
