.design-work {
  padding-bottom: 94px;
  padding-top: 94px;
}
  
.progects {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
  
.progects__item {
  display: flex;
  width: 370px;
  border: 1px solid #eeeeee;
  
  /* outline: 1px solid #008000; */
  margin-right: 30px;
  margin-bottom: 30px;
  
  background-color: $white-text-collor;

  &:nth-child(3n) {
    margin-right: 0;
  }
    
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
/* .progects-name:hover,
  .progects-name:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  } */
  
  /* .progects-name * {
    outline: 1px solid #008000;
  } */
  

.progects__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: rgba(33, 150, 243, 0.9);
  
  transform: translateY(100%);
  
  @include transition(transform);
}
  
.progects__text {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 63px;
  margin-bottom: 63px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $white-text-collor;
}
  
.product__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: $h-collor;
}
  
.product__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: $primary-text-color;
}
  
.progects__field {
    
    /* display: flex; */
  width: 100%;
  height: 100%;
  @include transition(shadow);

  
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
 
  &:hover .progects__overlay {
    transform: translateY(0);
  }
} 

.progects__card {
  position: relative;
  overflow: hidden;
  border-style: none;
  width: 368px;
  height: 294px;
}
  
.progects__image {
  display: block;
  width: 100%;
}
  

  
/* .card-image:hover .progect-overlay{
    transform: translateY(0);
  } */
  
.product {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
  
.product__title {
  margin-bottom: 0px;
  margin-top: 0px;

}
  
.product__text {
  margin-top: 4px;
  margin-bottom: 0px;
}