
.form {
  display: flex;
  flex-direction: column;
  
  /* margin-left: auto;
  margin-right: auto; */
  
  width: 528px;
 
  /* outline: 1px solid #008000; */
}
  
.form__wrap {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
  /* outline: 1px solid red; */
  margin-bottom: 10px;
  width: 448px;
}
  
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;

  &:hover,
  &:focus {
    border-color: $link-collor;
    @include transition(border);
  }
  
  &:hover ~ .form__icon,
  &:focus ~ .form__icon {
    fill: $link-collor;
    @include transition(fill);
  }
}
  
.form__box {
  position: relative;
}
  
.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10.5px;
}

/* .form-icon-box:focus{
    color: var var(--link-collor);
    border-color: var var(--link-collor); 
} */
  
/* .form-input:hover,
  .form-input:focus {
    border-color: var(--link-collor) ;
  } */
  
.form__label {
  margin-bottom: 4px;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10.1379px;
  line-height: 1.1836;
  
  color: $primary-text-color;
  cursor: pointer;
}
  
  
.form-area__label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10.5px;
  line-height: 1.142;
  
  color: $primary-text-color;
  margin-bottom: 4px;
  
  cursor: pointer;
}
  
.form-area {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 448px;
}
  
.form-area__text {
  height: 120px;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 10.5px;
  padding-top: 10.5px;
  resize: none;

  &:hover,
  &:focus {
    border-color: $link-collor;
    @include transition(border) ;
  }
}
  

  
.form-checkbox__label{
  display: flex; 
  flex-direction: row;
  padding-top: 35px;
  padding-bottom: 30px;
  
  cursor: pointer;
}
  
.form-checkbox__agree{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
  
.form-checkbox__icon{
    
  margin-left: 39px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  background-origin: border-box ;
}
  
.form-checkbox__text {
  
  margin-bottom: 0;
  margin-top: 0px;
  padding-left: 9px;
  
}
  
  
.form-checkbox__agree:checked ~ .form-checkbox__icon {
  background-color: $link-collor ;
  border-color: $link-collor ;
    
  /* background-image: url("../images/icon check-without-back (2).svg"); */
  background-size: contain;
  background-origin: border-box ;
  @include transition(background-color);
    
}
  
.form-checkbox__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}