.hero-container {
  
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: $footer-back;
  width: 100vw;
  /* outline: 2px solid green; */
  
}
  
.hero {
  text-align: center;
}
  
.hero__overlay {
  width: 480px;
  height: 400px;
  margin-right: auto;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),  url(../images/himg.jpg);
  background-position: center;
  background-size: cover;

  
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__overlay{
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/himg@2x.jpg)
  }

}

.hero__title {
  padding-top: 118px;
  margin-bottom: 30px;
  margin-top: 0px;
  
/* outline: 1px solid green; */
  
  color: $white-text-collor;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
  
/* кнопка заказа услуг */
  
.hero__button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  
  background-color: $link-collor;
  color: $white-text-collor;
}
  