
.mobile-nav {
 
    
/* margin-left: 93px; */
    
  margin-right: 40px;
  margin-top: 48px;
}  

  
// .site-nav .item:last-child {
//   margin-right: 0px;
// }
    
/* .site-nav .item {
      outline: 1px solid greenyellow;
    } */
    
.mobile-nav__link {
  display: block;
    
  
    
  color: $h-collor;
  
  &:hover,
  &:focus {
    color: $link-collor ;
  }
  
  
  /* .site-nav .link-current{
      position: relative;
  } */
    
}
  
.mobile-nav__link {
  @include transition(color);
}
  
  
.mobile-nav__link--current {
  position: relative;
    
  display: block;
    
  margin-bottom: 32px;
    
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: $link-collor;
  
  &::after {
    content: '';
      
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
      
    background-color: $link-collor;
  }
}
    
.mobile-nav__link {
  display: block;
    
  margin-bottom: 32px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}
    
  
    
  /* навигация мейл и телефон */
    
.mobile-field {
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
    
  @include  transition(color)
  }
 

.mobile-field__link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $primary-text-color ;
}      
  

  
.mobile-field__link{
  &:hover,
  &:focus {
    color: $link-collor;
  }
    
    
}
  
  
.mobile-field__icon {
    
  /* display: block; */
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $primary-text-color;
    
    /* fill: carrentColor; */
}
  
.mobile-field__icon {
  fill: currentColor;
}
  