
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
  
.work__title { 
  margin-bottom: 50px ;
    
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16; 
 
  color: $h-collor;
}
   
  
.work-thumb__item {
  position: relative;
  
  display: flex;
  
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  
  /* outline: 1px solid green; */

  &:not(:last-child) {
    margin-right: 30px;
  }
}
  
.work-thumb {
  display: flex;
  
  padding-left: 0px;
  margin: 0px;
}
  

  
/* 
  .work-imagine{
    display: block;
    width: 100%;
  } */
  
  
/* 
  .work-item-frame-overlay{
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
  } */
  
/* 
  .work-item-frame {
    margin-right: 30px;
  } */
  
/* /* .work-item-frame:last-child {
    margin-right: 0px;
} * */
  
  
.work-thumb__name{
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0;
  height: 70px;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  
}
  